
:root{
    --ochre: rgb(224, 206, 100);
    --dark-ochre: rgb(202, 182, 71);
    
    --white: rgb(249, 249, 249);
    --teal: rgb(52, 165, 165);
    --dark-teal: rgb(52, 136, 136);
    --light-teal: rgb(141, 149, 165);
    /* --teal: rgba(99, 68, 0, 1); */
    --forest-green: rgb(4, 92, 55);
    --forest-green: rgb(95, 74, 29);
    --forest-green-light: rgb(161, 134, 44);
    --lime: rgb(164, 202, 113);
    --ink-pen: rgb(10, 9, 10);
    --ink-white: rgb(99, 98, 98);
}


@media screen and (min-width: 1px) and (max-width: 389px) {
    /* .POTD-Title, .POTD-Author, .Poem-Text {
        margin-top: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    } */
    .POTD-Title, .POTD-Author {
        color: var(--dark-teal);
        text-shadow: 0px 1px 1px rgba(46, 46, 46, 0.747);
        font-size: 1.4em;
        font-family: 'Dancing Script', cursive;
        line-height: 9vw !important;
    }
    
    /* style .Poem-Text so it is dark grey and script  */
    .Poem-Text {
        color: var(--ink-pen);
        /* color: var(--ink-white); */
        /* text-shadow: 0px 1px 1px rgba(145, 145, 145, 0.486); */
        font-size: 0.9em;
        /* text-align: left; */
        font-family: 'Kalam', cursive;
        line-height: 4vw !important;
    }

    .POTD-Intro, .journal-Intro, .search-result-title {
        color: var(--dark-ochre);
        font-size: 1.75em !important;
        text-decoration-line: underline;
        border: 0;
    }

    /* .poem-text-margins {
        margin-top: 3.6em !important;
        margin-bottom: 3.5em !important;
        margin-right: 0.4em !important;
        margin-left: 0.6em !important;
    } */

    .poem-text-margins {
        margin-top: 15vw !important;
        margin-bottom: 16vw !important;
        margin-right: 6vw !important;
        margin-left: 6vw !important;
    }
}

@media screen and (min-width: 390px) and (max-width: 768px) {

    .POTD-Title, .POTD-Author {
        color: var(--dark-teal);
        text-shadow: 0px 1px 1px rgba(46, 46, 46, 0.747);
        font-size: 1.5em;
        font-family: 'Dancing Script', cursive;
        /* line-height: 1 !important; */

    }
    
    /* style .Poem-Text so it is dark grey and script  */
    .Poem-Text {
        color: var(--ink-pen);
        /* color: var(--ink-white); */
        text-shadow: 0px 1px 1px rgba(145, 145, 145, 0.486);
        font-size: 1em;
        font-family: 'Kalam', cursive;
        line-height: 0.9 !important;
    }

    .POTD-Intro, .journal-Intro, .search-result-title {
        color: var(--dark-ochre);
        font-size: 2.2em !important;
        text-decoration-line: underline;
        border: 0;
    }

    .poem-text-margins {
        margin-top: 15vw !important;
        margin-bottom: 16vw !important;
        margin-right: 6vw !important;
        margin-left: 6vw !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1449px) {

    .POTD-Title, .POTD-Author {
        color: var(--dark-teal);
        text-shadow: 0px 1px 1px rgba(46, 46, 46, 0.747);
        font-size: 1.75em;
        font-family: 'Dancing Script', cursive;
        line-height: 1.3 !important;
    }
    
    /* style .Poem-Text so it is dark grey and script  */
    .Poem-Text {
        color: var(--ink-pen);
        /* color: var(--ink-white); */
        text-shadow: 0px 1px 1px rgba(145, 145, 145, 0.486);
        font-size: 1.2em;
        /* text-align: left !important; */
        font-family: 'Kalam', cursive;
        line-height: 0.9 !important;
    }

    .POTD-Intro, .journal-Intro, .search-result-title {
        color: var(--dark-ochre);
        font-size: 2.2em !important;
        text-decoration-line: underline;
        border: 0;
    }

    .poem-text-margins {
        margin-top: 15vw !important;
        margin-bottom: 16vw !important;
        margin-right: 6vw !important;
        margin-left: 6vw !important;
    }
}

@media screen and (min-width: 1450px) {
.POTD-Title, .POTD-Author {
    color: var(--dark-teal);
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    font-size: 1.9vw;
    font-family: 'Dancing Script', cursive;
    line-height: 1.2 !important;
}

/* style .Poem-Text so it is dark grey and script  */
.Poem-Text {
    color: var(--ink-pen);
    /* color: var(--ink-white); */
    text-shadow: 0px 1px 1px rgba(145, 145, 145, 0.486);
    font-size: 1.2em;
    text-align: left !important;
    font-family: 'Kalam', cursive;
    line-height: 1 !important;
}

.POTD-Intro, .journal-Intro, .search-result-title {
    color: var(--dark-ochre);
    font-size: 2.2vw !important;
    text-decoration-line: underline;
    border: 0;
}

.poem-text-margins {
    margin-top: 8.5vw !important;
    margin-bottom: 9vw !important;
    margin-right: 5vw !important;
    margin-left: 5vw !important;
}
}

h5 {
    color: var(--teal);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.486);
}
/* make the background colour of the page teal */
body {
    background-color: var(--light-teal);
}
/* make navbar background ochre  */
.navbar {
    background-color: var(--ochre) !important;
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.486) !important;
    transition: 0.5s !important;
}

.customNav a {
    color: var(--ink-pen);
    text-decoration: none !important;
    transition: 0.5s !important;
    /* change the weight ofthe links to bold */
    font-weight: 600 !important;
}

.nav-item a:hover {
    transition: all 0.5s ease-in-out !important;
    text-shadow: 0px 0px 8px var(--white), 0 0 15px var(--white);
}
/* Make .Logo dropshadow forest green and glow on hover */
.Logo {
    color: var(--ink-pen) !important;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.486) !important;
    font-size: 2em !important;
    font-family: 'Satisfy', cursive !important;
    text-decoration: none !important;
    transition: 0.5s !important;
    text-align: center !important;
    padding: 0px;
    text-decoration: none !important;
}

/* on hover make the .logo element glow as the rest of the links */
.Logo:hover {
    transition: all 0.5s ease-in-out !important;
    text-shadow: 0px 0px 8px var(--white), 0 0 15px var(--white) !important;
}


.customNav a:hover {
    transition: all 0.5s ease-in-out !important;
    text-shadow: 0px 0px 8px var(--white), 0 0 15px var(--white);
}

/* edit jumbotron so that the background image does not stretch and is transluscent */


.jumbotron{
    background: url("../Images/background-jumbotron-c.png") no-repeat;
    background-size: cover;
    padding: 25px !important;
}


/* make the background of the poem container transparent */


.poem-container {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  

/* align the POTD-Intro to centre and give the text a shadow */
.POTD-Intro, .journal-Intro, .search-result-title {
    font-family: 'Satisfy', cursive;
}
.POTD-Intro, .POTD-Title, .POTD-Author, .journal-Intro, .search-result-title {
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.486);
}

.POTD-Intro, .journal-Intro, .search-result-title {
    color: var(--dark-ochre);
    font-size: 2.5em;
    /* font-size: 2.25vw; */
    text-decoration-line: underline;
    border: 0;
}


/* make text shadow a drop shadow */

.mt-3 a{
    /* making text decoration nothing */
    text-decoration: none !important;
    color: var(--teal);
    font-weight: 600;
    font-size: 1em;
    text-shadow: 0px 1px 1px var(--forest-green-light);
}

.mt-3 a:hover {
    transition: all 0.5s ease-in-out !important;
    text-shadow: 0px 0px 8px var(--white), 0 0 15px var(--white) !important;
}

/* make all btn elements teal in background */
.btn {
    background-color: var(--teal) !important;
    color: var(--white) !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.486) !important;
    transition: 0.5s !important;
}


/* make all button elements glow lighten when hovered */
.btn:hover {
    transition: all 0.5s ease-in-out !important;
    text-shadow: 0px 0px 8px var(--white), 0 0 15px var(--white) !important;
}

.poem-search-button, .searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* align the dropdown class to center the dropdown in the div */
.dropdown-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* adding padding to the search filter for symmetry */
.search-by-dropdown {
    padding: 6px;
}

.card-button {
    font-size: 15px !important;
}

/* make the mini-card class background color gray */
.card {
    background-color: var(--white);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.486) !important;
    transition: 0.5s !important;
}

.hide {
    display: none;
}

.search-bar-button {
    margin: 5px;
    padding: 6px;
}

/* make the background of the poem container transparent */

.background-image-card {
    background: url("../Images/paper-jumbotron-small-c.png") no-repeat;
    background-size: cover;
    border: 0;
}
/* .poem-text-margins {
    margin-top: 10vw !important;
    margin-bottom: 11vw !important;
    margin-right: 3vw !important;
    margin-left: 3vw !important;
} */



/* searchbar styling to work within the poem and on the main page */
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(241, 241, 241, 0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(255, 255, 255, 0.8);
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* footer centred*/
.footer-container {
    display: flex;
    justify-content: center;
  }

  /* adding code for the reflection cards */
  .reflection-card {
    padding:10px 10px 5px 10px;
}
.entry-date {
    color: var(--ink-pen);
    font-size: 1.2em;
    font-family: 'Kalam', cursive !important;
    margin: 0;
}
.reflection-card {
    margin: 20px;
}
h4 {
    font-size: 1.2em;
    color: var(--dark-teal);
    font-family: 'Kalam', cursive !important;
}
.reflection-text {
    color: var(--ink-pen);
    font-size: 1em;
    font-family: 'Kalam', cursive !important;
    padding: 5px 10px 10px;
    margin: 0;
}